/* Contains all of the CSS for the three HTML files */
html {
    background-color: beige;
}
header {
    padding: 24px;
}
body {
    margin: 0;
}
footer {
    background-color: burlywood;
    padding: 24px;
}
.book-cover {
    width: 200px;
    height: auto;
}
.main-page-book-review {
    background-color: red;
}